$flash-primary-color: $global-primary-color;
$flash-secondary-color: $global-secondary-color;
$flash-warning-color: $global-warning-color;
$flash-info-color: $global-info-color;


button,
input[type="submit"],
input[type="reset"],
input[type="button"]{
  --button-base-width: 10em;
  --button-base-height: 2.5em;
  --button-scale: 1;
  --button-font-size: 1em;
  overflow: visible;
  height: calc( var( --button-base-height) * var(--button-scale));
  min-width: var(--button-base-width);
  font-size: var(--button-font-size);
  border: inherit;

  &:focus{
    border: none;
    outline-width: 0;
  }
  &:hover{
    border: 1px solid #fff;
  }

  @media (max-width: $breakpoint-xs) {
    --button-base-width: 12em;
    --button-scale: 1.2 !important;
  }
  padding: 0 30px;
  text-align: center;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  box-sizing: border-box;
  &.flash-button-large{
    --button-base-width: 15rem;
    --button-base-height: 3em;
  }
}



.flash-button{
  @extend button;
  &.flash-primary-button {
    background: $flash-primary-color !important;
  }

  &.flash-secondary-button{
    background: $flash-secondary-color;
    color: white;
    border: 1px solid #fff;
    &:hover{
      background: #000;
    }
  }

  &.flash-warning-button {
    background: $flash-warning-color !important;
    color: white;
  }

  &.flash-info-button {
    background: $flash-info-color !important;
    color: white;
  }
}

