.flash-card, [flash-card] {
  min-width: 284px;
  min-height: 284px;
  max-width: 100%;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}