.flash-card, [flash-card] {
  //min-width: 284px !important;
  min-height: 284px !important;
  max-width: 450px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  &.flash-card-primary{
    background: $global-primary-color;
  }
  &.flash-card-shadow{
    box-shadow: 5px 5px 5px #aaaaaa;
  }
}