input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
select {
  padding: 6px 10px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  min-width: 20em;
  height: 2em;
  font-size: inherit;

  &:focus {
    border: 1px solid #33C3F0;
    outline: 0;
  }

  &.flash-bare-input {
    border-top: none;
    border-left: none;
    border-right: none;
    &:focus{
      transform: scale(1.1);
    }
  }

  label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
  }

  fieldset {
    padding: 0;
    border-width: 0;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline;
  }


  textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  form,
  flash-form {
    &.flash-form-inline {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }
  }
}