$flash-primary-color: lighten(lightblue, 60%) !default;
$flash-grid-size: 6  !default;
$global-dark-background:                                     black;
$global-navbar-max-height:                                   4.5em;
$global-navbar-min-height:                                   3.5em;
$global-navbar-item-spacing:                                 5%;
$global-primary-color:                                       #0FA0CE;
$global-secondary-color:                                     #ce822e;
$global-danger-color:                                        #0FA0CE;
$global-warning-color:                                       #0FA0CE;
$global-info-color:                                          #0FA0CE;
$flash-breakpooint-sm:                                       720px;