/**
* Global variables
 */
/*
  *  Breakponts
 */
h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

@media (min-width: 720px) {
  h1 {
    font-size: 4.6rem;
  }

  h2 {
    font-size: 4.2rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 3rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  h6 {
    font-size: 1.5rem;
  }
}
p {
  margin-top: 0;
}

html {
  font-family: sans-serif, Serif;
}

body {
  margin: 0 auto;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

button, .flash-button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

.flash-text-primary {
  color: #0FA0CE;
}

.flash-text-secondary {
  color: #ce822e;
}

.flash-text-info {
  color: #32ce37;
}

.flash-text-warning {
  color: #ce3165;
}

code {
  font-size: 1.2em;
  color: brown;
  background: none;
}

img {
  width: 100%;
}

.flash-text-center {
  text-align: center;
}

.button-group {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  min-width: 27em;
  background: transparent;
  justify-content: space-evenly;
}
@media (max-width: 480px) {
  .button-group {
    display: grid;
    grid-gap: 15px;
    max-width: calc(100% - 1em);
  }
}

.flash-primary-bg {
  background: #0FA0CE !important;
  color: #fff !important;
}

.flash-secondary-bg {
  background: #ce822e !important;
  color: #fff !important;
}

/*
* Animations
*/
.\@-flash-out {
  animation: flash-zoom-out 1s;
}

.\@-flash-out {
  animation: flash-zoom-out 1s;
}

.\@-slide-right {
  animation: flash-slide-in-right 1s;
}

.\@-slide-left {
  animation: flash-slide-in-left 1s;
}

.\@-slide-in-top {
  animation: flash-in-top 1s;
}

.\@-slide-in-bottom {
  animation: flash-in-bottom 1s;
}

@keyframes flash-zoom-out {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes flash-zoom-in {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes flash-slide-in-right {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes flash-in-left {
  from {
    margin-left: -100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes flash-in-top {
  from {
    position: relative;
    margin-top: -20%;
  }
}
@keyframes flash-in-bottom {
  from {
    margin-bottom: -20%;
  }
}
input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
select {
  padding: 6px 10px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  min-width: 20em;
  height: 2em;
  font-size: inherit;
}
input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=password]:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}
input[type=email].flash-bare-input,
input[type=number].flash-bare-input,
input[type=search].flash-bare-input,
input[type=text].flash-bare-input,
input[type=tel].flash-bare-input,
input[type=url].flash-bare-input,
input[type=password].flash-bare-input,
select.flash-bare-input {
  border-top: none;
  border-left: none;
  border-right: none;
}
input[type=email].flash-bare-input:focus,
input[type=number].flash-bare-input:focus,
input[type=search].flash-bare-input:focus,
input[type=text].flash-bare-input:focus,
input[type=tel].flash-bare-input:focus,
input[type=url].flash-bare-input:focus,
input[type=password].flash-bare-input:focus,
select.flash-bare-input:focus {
  transform: scale(1.1);
}
input[type=email] label,
input[type=number] label,
input[type=search] label,
input[type=text] label,
input[type=tel] label,
input[type=url] label,
input[type=password] label,
select label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
input[type=email] fieldset,
input[type=number] fieldset,
input[type=search] fieldset,
input[type=text] fieldset,
input[type=tel] fieldset,
input[type=url] fieldset,
input[type=password] fieldset,
select fieldset {
  padding: 0;
  border-width: 0;
}
input[type=email] input[type=checkbox],
input[type=email] input[type=radio],
input[type=number] input[type=checkbox],
input[type=number] input[type=radio],
input[type=search] input[type=checkbox],
input[type=search] input[type=radio],
input[type=text] input[type=checkbox],
input[type=text] input[type=radio],
input[type=tel] input[type=checkbox],
input[type=tel] input[type=radio],
input[type=url] input[type=checkbox],
input[type=url] input[type=radio],
input[type=password] input[type=checkbox],
input[type=password] input[type=radio],
select input[type=checkbox],
select input[type=radio] {
  display: inline;
}
input[type=email] textarea,
input[type=number] textarea,
input[type=search] textarea,
input[type=text] textarea,
input[type=tel] textarea,
input[type=url] textarea,
input[type=password] textarea,
select textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type=email] form.flash-form-inline,
input[type=email] flash-form.flash-form-inline,
input[type=number] form.flash-form-inline,
input[type=number] flash-form.flash-form-inline,
input[type=search] form.flash-form-inline,
input[type=search] flash-form.flash-form-inline,
input[type=text] form.flash-form-inline,
input[type=text] flash-form.flash-form-inline,
input[type=tel] form.flash-form-inline,
input[type=tel] flash-form.flash-form-inline,
input[type=url] form.flash-form-inline,
input[type=url] flash-form.flash-form-inline,
input[type=password] form.flash-form-inline,
input[type=password] flash-form.flash-form-inline,
select form.flash-form-inline,
select flash-form.flash-form-inline {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

@media (max-width: 720px) {
  .flash-hide\@sm {
    display: none !important;
  }
}

@media (max-width: 960px) {
  .flash-hide\@md {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .flash-hide\@lg {
    display: none !important;
  }
}

.flash-section {
  min-height: 10em;
  background: transparent;
  padding: 0.4em 0.4em;
}
.flash-section.flash-section-primary {
  background: #0FA0CE;
}
.flash-section.flash-section-secondary {
  background: #ce822e;
  color: white;
}
.flash-section.flash-text-center {
  text-align: center !important;
}
.flash-section.flash-section-large {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .flash-section.flash-section-large {
    height: 85vh;
  }
}

button, .flash-button,
input[type=submit],
input[type=reset],
input[type=button] {
  --button-base-width: 10em;
  --button-base-height: 2.5em;
  --button-scale: 1;
  --button-font-size: 1em;
  overflow: visible;
  height: calc( var( --button-base-height) * var(--button-scale));
  min-width: var(--button-base-width);
  font-size: var(--button-font-size);
  border: inherit;
  padding: 0 30px;
  text-align: center;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  box-sizing: border-box;
}
button:focus, .flash-button:focus,
input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus {
  border: none;
  outline-width: 0;
}
button:hover, .flash-button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
  border: 1px solid #fff;
}
@media (max-width: 480px) {
  button, .flash-button,
input[type=submit],
input[type=reset],
input[type=button] {
    --button-base-width: 12em;
    --button-scale: 1.2 !important;
  }
}
button.flash-button-large, .flash-button-large.flash-button,
input[type=submit].flash-button-large,
input[type=reset].flash-button-large,
input[type=button].flash-button-large {
  --button-base-width: 15rem;
  --button-base-height: 3em;
}

.flash-button.flash-primary-button {
  background: #0FA0CE !important;
}
.flash-button.flash-secondary-button {
  background: #ce822e;
  color: white;
  border: 1px solid #fff;
}
.flash-button.flash-secondary-button:hover {
  background: #000;
}
.flash-button.flash-warning-button {
  background: #ce3165 !important;
  color: white;
}
.flash-button.flash-info-button {
  background: #32ce37 !important;
  color: white;
}

[flash-container],
.flash-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #fff;
  position: initial;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: space-evenly;
}
@media (max-width: 720px) {
  [flash-container],
.flash-container {
    flex-direction: column;
  }
}

.flash-icon-lg {
  font-size: 5em;
}

.column-1-6 {
  flex-basis: calc((1 / 6) * 99%);
  border: 1px solid #34aae4;
  padding: 1% 1%;
  color: black;
}
@media only screen and (max-width: 720px) {
  .column-1-6 {
    flex-basis: 100%;
  }
}
.column-1-6.flash-column-bare {
  border: none;
}

.column-1 {
  flex-basis: calc((6 / 1) * 99%);
}

.column-2-6 {
  flex-basis: calc((2 / 6) * 99%);
  border: 1px solid #34aae4;
  padding: 1% 1%;
  color: black;
}
@media only screen and (max-width: 720px) {
  .column-2-6 {
    flex-basis: 100%;
  }
}
.column-2-6.flash-column-bare {
  border: none;
}

.column-2 {
  flex-basis: calc((6 / 2) * 99%);
}

.column-3-6 {
  flex-basis: calc((3 / 6) * 99%);
  border: 1px solid #34aae4;
  padding: 1% 1%;
  color: black;
}
@media only screen and (max-width: 720px) {
  .column-3-6 {
    flex-basis: 100%;
  }
}
.column-3-6.flash-column-bare {
  border: none;
}

.column-3 {
  flex-basis: calc((6 / 3) * 99%);
}

.column-4-6 {
  flex-basis: calc((4 / 6) * 99%);
  border: 1px solid #34aae4;
  padding: 1% 1%;
  color: black;
}
@media only screen and (max-width: 720px) {
  .column-4-6 {
    flex-basis: 100%;
  }
}
.column-4-6.flash-column-bare {
  border: none;
}

.column-4 {
  flex-basis: calc((6 / 4) * 99%);
}

.column-5-6 {
  flex-basis: calc((5 / 6) * 99%);
  border: 1px solid #34aae4;
  padding: 1% 1%;
  color: black;
}
@media only screen and (max-width: 720px) {
  .column-5-6 {
    flex-basis: 100%;
  }
}
.column-5-6.flash-column-bare {
  border: none;
}

.column-5 {
  flex-basis: calc((6 / 5) * 99%);
}

.column-6-6 {
  flex-basis: calc((6 / 6) * 99%);
  border: 1px solid #34aae4;
  padding: 1% 1%;
  color: black;
}
@media only screen and (max-width: 720px) {
  .column-6-6 {
    flex-basis: 100%;
  }
}
.column-6-6.flash-column-bare {
  border: none;
}

.column-6 {
  flex-basis: calc((6 / 6) * 99%);
}

.flash-card, [flash-card] {
  min-height: 284px !important;
  max-width: 450px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
}
.flash-card.flash-card-primary, [flash-card].flash-card-primary {
  background: #0FA0CE;
}
.flash-card.flash-card-secondary, [flash-card].flash-card-secondary {
  background: #ce822e;
}
.flash-card.flash-card-info, [flash-card].flash-card-info {
  background: #32ce37;
}
.flash-card.flash-card-warning, [flash-card].flash-card-warning {
  background: #ce3165;
}
.flash-card.flash-card-shadow, [flash-card].flash-card-shadow {
  box-shadow: 5px 5px 5px #aaaaaa;
}
.flash-card.flash-message-card, [flash-card].flash-message-card {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 61% 76%, 50% 98%, 38% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 61% 76%, 50% 98%, 38% 75%, 0% 75%);
}

.navbar,
[narbar] {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;
  color: white;
  max-height: 4.5em;
  min-height: 3.5em;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 720px) {
  .navbar,
[narbar] {
    justify-content: center;
    background: red;
  }
}
.navbar .navbar-item,
[narbar] .navbar-item {
  flex-basis: 5%;
  padding: 0 10px;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .navbar .navbar-item,
[narbar] .navbar-item {
    display: none;
  }
}
.navbar.navbar-right,
[narbar].navbar-right {
  justify-content: flex-end;
}
.navbar.navbar-left,
[narbar].navbar-left {
  justify-content: flex-start;
}
.navbar.navbar-center,
[narbar].navbar-center {
  justify-content: center;
}
.navbar.navbar-even,
[narbar].navbar-even {
  justify-content: space-between;
}
.navbar.flash-bg-primary,
[narbar].flash-bg-primary {
  background: #0FA0CE;
}
.navbar.flash-bg-secondary,
[narbar].flash-bg-secondary {
  background: #ce822e;
}
.navbar.flash-bg-danger,
[narbar].flash-bg-danger {
  background: #ff0000;
}
.navbar.flash-bg-dark,
[narbar].flash-bg-dark {
  background: black;
}
.navbar.flash-bg-warning,
[narbar].flash-bg-warning {
  background: #ce3165;
}
.navbar.flash-bg-info,
[narbar].flash-bg-info {
  background: #32ce37;
}
.navbar.flash-navbar-fixed,
[narbar].flash-navbar-fixed {
  position: fixed !important;
  min-width: calc(100% - 1em);
}

/*# sourceMappingURL=flash.css.map */
